body {
   
    background-image: url("../images/fondo.jpg");
}

input[type="text"] {
  padding: 10px;
  border: none;
  width: 200px;
  
	text-align: center;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}


.sun-flower-button {
  position: relative;
  vertical-align: top;
  width: 18%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f1c40f;
  border: 0;
  border-bottom: 2px solid #e2b607;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e2b607;
  box-shadow: inset 0 -2px #e2b607;
}
.sun-flower-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.opcion_iluminada {
    font-size: 70px;
    color:#f1c40f;
    text-decoration:none;
    padding: 10px;
  }
  .opcion_iluminada:hover {
    color:#fff;
    text-shadow: 0px 0px 15px #fff;
  }